body {
  background-color: pink;

h1 #title {
  color: blue;
  fontsize: 3em;
}

h2 {
  color: green;
  font-weight: normal
  font-style: italic;
}

ul #tasks.completed {
  font-family: 12px;
  backgound: #ccc;
  text-decoration: underline;
}
